@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-violet-principal: #964594;
  --color-orange-accent: #D44835;
  --color-bleu: #235BA8;
  --color-violet-fonce: #47295C;
  --color-vert-clair: #C0D5A9;
  --color-jaune-orange: #FFC25A;
  --color-vert: #73B866;
  --color-gris: #7A7A7A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Helvetica, Arial, sans-serif;
  --font-serif: var(--font-roboto-slab), serif;
  --color-violet-main: var(--color-violet-principal);
  --color-orange-accent: var(--color-orange-accent);
  --color-blue-main: var(--color-bleu);
  --color-violet-dark: var(--color-violet-fonce);
  --color-green-light: var(--color-vert-clair);
  --color-yellow-orange: var(--color-jaune-orange);
  --color-green-main: var(--color-vert);
  --color-gray-main: var(--color-gris);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
